#hud {
  width: var(--slide-width);
  height: 800px;

  color: var(--color2);
  
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;

  display: block;
}

#controls {
  width: 200px;
  height: 200px;

  
  position: absolute;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.key {
  opacity: 0.1;
}

.blank {
  opacity: 0;
}

.key img {
  width: 100%;
}

#left img {
  transform: rotate(-90deg)
}
#right img {
  transform: rotate(90deg)
}
#bottom img {
  transform: rotate(180deg)
}

#left:hover, #right:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
  opacity: 0.5;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2);
  100% { transform: scale(1); }
  }
}

#borders{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#border-left, 
#border-right {
  height: 100%;
  width: 10%;
  display: block;
  position: absolute;
  top: 0;
}

#border-left {
  background-color: blue;
  left: 0;
}

#border-right {
  background-color: orange;
  right: 0;
}