@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
  --slide-width: 100%;
  --slide-height: 100%;

  --color1: #539165;
  --color2: #3f497f;
  --color3: #f7c04a;
  --color4: #f8f5e4;
  --color5: rgba(55, 73, 127, 0.3);
}

body {
  background-color: var(--color4);
font-family: 'Tilt Neon', cursive;
  font-size: 1.2em;
}

.slides {
  width: var(--slide-width);
  height: var(--slide-height);

  color: var(--color2);
}

.slide {
  width: 100%;
  height: 100%;

  background: var(--color4);
  color: var(--color2);

  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

.front {
  visibility: visible;
}

.back {
  visibility: hidden;
}

h1 {
  font-size: 2.5em;
}

h2 {
  color: #f7c04a;
}

h3 {
  text-align: center;
  margin: auto;
}
h1,
h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.header {
  text-align: center;
}

a {
  color: var(--color3);
}

.center {
  text-align: center;
}

.marcaCol {
  background-color: var(--color2);
  color: var(--color4);
  font-size: 1.2em;
}
