@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

:root {
  --slide-width: 100%;
  --slide-height: 100%;
  
  --color1: #539165;
  --color2: #3F497F;
  --color3: #F7C04A;
  --color4: #F8F5E4;
}

.slides{
  width: var(--slide-width);
  height: var(--slide-height);
  border: 1px solid blue; 
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

.slide{
  width: 100%;
  height: 100%;
 
  background: var(--color4);
  color: var(--color2);
  
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

.front {
  visibility: visible;
}

.back {
  visibility: hidden;
}

h1 {
  font-size: 2.5em;
}

h2 {
  color: #F7C04A;
}

h1, h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}

a {
  color: var(--color3);
}